<?xml version="1.0" encoding="UTF-8"?>

<Configuration>
    <Appenders>
        <Console name="STDOUT">
            <PatternLayout>
                <pattern>%date{ISO8601} level=[%level] logger=[%logger] akkaSource=[%X{akkaSource}]
                    sourceThread=[%X{sourceThread}] mdc=[ticket-#%X{ticketNumber}: %X{ticketDesc}] - msg=[%msg]%n----%n
                </pattern>
            </PatternLayout>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="WARN">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>